.main__search {
  background-image: url("../../assets/backgroundimg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column; /* Changed to column to stack content */
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.search__content {
  max-width: 600px;
  z-index: 2;
  position: relative;
}
