.main__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.search__content {
  max-width: 600px;
  z-index: 2;
  position: relative;
}
