.hero {
  background-image: url("../../assets/backgroundimg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 576px;
}

.hero__content {
  z-index: 2;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  max-width: 600px;
}

.hero__body {
  max-width: 608px;
  margin: 80px auto 0;
}

.hero__title {
  color: white;
  line-height: 64px;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 24px;
  font-family: "Roboto-Slab", Arial, sans-serif;
}

.hero__subtitle {
  color: white;
  line-height: 24px;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
}

.hero__content {
  max-width: 600px;
  position: relative;
}
