.saved-news__info {
  background: #fff;
  padding: 40px 104px 56px;
}

.saved-news__label {
  margin: 0 0 28px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1a1b2280;
}

.saved-news__title {
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin: 0;
}

.saved-news__cards {
  background: #f5f6f7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 1232px;
  margin: 0 auto;
  padding: 62px 104px 80px;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .saved-news__cards {
    padding: 32px 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .saved-news__cards {
    padding: 24px 16px;
    grid-template-columns: 1fr;
  }
}
