.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 104px;
  position: relative;
  height: 80px;
  width: 100%;
}

.header__right-side {
  display: flex;
  align-items: center;
  gap: 42px;
}

.home__btn {
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

.sign__in-btn {
  color: white;
  background: transparent;
  border-radius: 50%;
  border-color: white;
  cursor: pointer;
}

.header__logo {
  cursor: pointer;
  display: block;
}
