.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  height: 80px;
}

.header__right-side {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.home__btn {
  background: white;
  border: none;
}

.sign__in-btn {
  background: none;
  border: none;
}

.header__logo {
  position: relative;
  margin: 50px;
}
