.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 30px, 104px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__right-side {
  display: flex;
  align-items: center;
  gap: 42px;
}

.home__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.sign__in-btn {
  background: transparent;
  border: none;

  cursor: pointer;
}

.header__logo {
  display: block;
}
