@import url(./vendor/normalize.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./vendor/fonts/roboto-400-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./vendor/fonts/roboto-900.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("./vendor/fonts/roboto-slab-400-regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./vendor/fonts/inter-400-regular.woff") format("woff");
}
